
body{
    background-color: rgb(212, 206, 206);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
   text-decoration: none;
   font-size: large;
    color: white;
}
ul{
    list-style: none;
    display: flex;
    gap: 20px;


   
    justify-content: center;
}
li{
    background-color: gray;
    padding: 10px;
    border-radius: 15px;
}
h2{
    display: flex;
    justify-content: center;


    background-color: white;
    border-radius: 15px;
    border :2px solid;
}
p{
    text-align: center;
}